* { 
  padding: 0;
  margin: 0;
list-style-type: none;
box-sizing: border-box;

}

/* Header Styling Section */
.header {
  background-color: aquamarine;
  color: #fff;
  padding: 20px 0; 
  border-width: 1px;
  border-style: solid;
  border-color: gray; 
  /* min-height: 55px;  */
  display: flex; justify-content: space-between;

}

/* Style the nav bar */

/* Style my name */
.name {
  color:black; 
  font-size: 24 px;
  margin-left: 7px;
  background-color: white;
}

/* Style the nav links */
nav ul {
  list-style: none;
  display: flex;
  margin: 5px 10px 0px 0px
}
nav ul li {
  margin-left: 20px;
}


nav ul li a {
  text-decoration: underline;
  color: black; 
  font-weight: bold;
  transition: color 0.3s;
}
nav ul li a:hover {
  color: #f39c12;
}
/* Add styling to the body */
body {
  font-family: garamond, serif;
  background-color: #FDD8B5; 
}




/* Image Styling */

.aquamarine {
  border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    position: relative;
    overflow: hidden;
    width: 100%; 
    
}
/* Style for the image */
.header-image img {
    width: 100vw;
    height: auto; /* Maintain aspect ratio */
    position: relative; 
    object-fit: cover;
    
    
}

    
    /* Style for bottom-right text */
    .welcome-text {
        position: absolute;
        bottom: 40px; /* Adjust the bottom position as needed */
        right: 30px; /* Adjust the right position as needed */
        font-size: 28px; 
        background-color: white;
    }







/* About me Section */
.about-me {
  border: 1px solid black;
  display: flex;
   justify-content: space-around;
  align-items:first baseline;
  margin: 10px 0px 0px 0px;  
  height: 51vh;
  position: relative;
}  
/* About me words */
h3 {
  margin-top: -40%;
  display: flex;
  justify-content: flex-start;
  font-size: 60px;
  margin-bottom: 30px;
  flex-direction: column;
  flex-wrap: wrap;
  
}

.about-me-content {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  max-width: 55%;
  
}

.about-me-info {
  text-align: left;
  background-color: white;
  line-height: 250%;
  font-size: 16px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
  width: 60%;
  
}

.divider {
  width: 2px;
  height: 50%;
  background-color: black;
  margin: 0 20px;
}

/* .about-me-image {
  width: 5vh;
  height: 1vh;
} */







/* My Projects Section */
h4 {
  display: flex;
  margin-top: 120px;
  font-size: 60px;
  margin-bottom: 30px;
  justify-content: center;

}

.project-button {
  text-align: center;
  background-color: white;
  line-height: 250%;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
  width: 900px
  
  
}


/* Hover */

.project-button {
  cursor: pointer;
  overflow: hidden; 
}

.project-button:hover {
  background-color: aquamarine;
  
}



/* Resume Section */
h5 {
  display: flex;
  margin-top: 180px;
  font-size: 60px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  

}

/* center and format resume icon */
.resume-icon {
position: relative;
  width: 300px;
border-radius: 10%;
margin: 0 auto;
display: block;
box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}

/* hover effect for resume icon */
.resume-button {
  cursor: pointer;
  overflow: hidden;
  
}


/* Trying to add a light border aroud the hover */
.resume-icon:hover{
  color: #f39c12;
}

/* Footer Section */

.footer {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
 background-color: aquamarine;
 padding: 20px 0;
 border-width: 1px;
 border-style: solid;
 border-color: black;
}



/* Media Query for smaller screens */
@media screen and (max-width: 768px) {

  .header {
    padding: 15px 0;
  }
  .body {
    font-size: 16px;
  }
.footer {
  padding: 10px 0;
}
}
  


/* Media Query for even smaller screens */
@media screen and (max-width: 480px) { 
  .header {
    font-size: 16px;
  }
  .body {
    font-size: 14px;
    background-color: #FDD8B5;
  }
.footer {
  font-size: 14px;
}
}
  

  
