* { 
  padding: 0;
  margin: 0;
list-style-type: none;
box-sizing: border-box;

}

/* Header Styling Section */
.header {
  background-color: aquamarine;
  color: #fff;
  padding: 20px 0; 
  border-width: 1px;
  border-style: solid;
  border-color: gray; 
  /* min-height: 55px;  */
  display: flex; justify-content: space-between;

}

/* Style the nav bar */

/* Style my name */
.name {
  color:black; 
  font-size: 24 px;
  margin-left: 7px;
}

/* Style the nav links */
nav ul {
  list-style: none;
  display: flex;
  margin: 5px 10px 0px 0px
}
nav ul li {
  margin-left: 20px;
}


nav ul li a {
  text-decoration: none;
  color: black; 
  font-weight: bold;
  transition: color 0.3s;
}
nav ul li a:hover {
  color: #f39c12;
}
/* Add styling to the body */
body {
  font-family: garamond, serif;
  background-color: #FDD8B5; 
}





/* Image Styling */


    /* Center the image on the page */
    .container {
      border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        position: relative;
    }
    /* Style for the image */
    .image img {
        width: 425px; /* Set the desired width */
        height: auto; /* Maintain aspect ratio */
        position: relative;
        border-radius: 10%;
    }
    /* Style for top-left text */
    .text.top-left {
        position: absolute;
        top: 150px; /* Adjust the top position as needed */
        left: 10px; /* Adjust the left position as needed */
    }
    /* Style for bottom-right text */
    .text.bottom-right {
        position: absolute;
        bottom: 150px; /* Adjust the bottom position as needed */
        right: 10px; /* Adjust the right position as needed */
    }







/* About me Section */
.about-me {
  display: flex;

  margin-top: 120px;
}



/* My Projects Section */
h4 {
  display: flex;
  margin-top: 120px;

}

/* Resume Section */
h5 {
  display: flex;
  margin-top: 120px;
}
.resume-icon {
  width: 300px;
border-radius: 10%;
}

/* Trying to add a light border aroud the hover */
.resume-icon:hover{
  color: #f39c12;
}

/* Footer Section */

.footer {
  display: flex;
  margin-top: 120px;
  margin-bottom: 120px;
}