* { 
  padding: 0;
  margin: 0;
list-style-type: none;
box-sizing: border-box;

}

/* Header Styling Section */
.header {
  background-color: aquamarine;
  color: #fff;
  padding: 20px 0; 
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  /* min-height: 55px; might need to add margin */

}

/* Style the nav bar */
.container {
  display: flex;
  background-color: aquamarine;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;

  
}
/* Style my name */
.name {
  color:black; 
  font-size: 24 px;
}

/* Style the nav links */
nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  margin-left: 20px;
}
nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  text-decoration: none;
  color: black; 
  font-weight: bold;
  transition: color 0.3s;
}
nav ul li a:hover {
  color: #f39c12;
}
/* Add styling to the body */
body {
  font-family: garamond, serif;
  background-color: #FDD8B5; 
}

/* Image Styling */

.section-one {
  display: flex;
  padding-top: 50px;
}

.image {
width: 400px;
border-radius: 10%;
margin-left: auto;


}
.intro {
  width: 300px;
  display: inline-block;
  margin-right: auto;
  
}

